# CarbonOS GRUB UEFI Configuration
# IBM Carbon Design System Colors

insmod part_gpt
insmod part_msdos
insmod fat
insmod iso9660
insmod all_video
insmod font

set default="carbonos"
set timeout=15

# Color Palette: IBM Blue (#0f62fe) and Carbon Dark (#161616)
set menu_color_normal=light-gray/black
set menu_color_highlight=white/blue

menuentry "Boot CarbonOS Live (IBM Carbon Edition, x86_64 UEFI)" --class arch --class gnu-linux --class gnu --class os --id 'carbonos' {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% cow_spacesize=4G copytoram=n
    initrd /%INSTALL_DIR%/boot/intel-ucode.img /%INSTALL_DIR%/boot/amd-ucode.img /%INSTALL_DIR%/boot/x86_64/initramfs-linux.img
}

menuentry "Boot CarbonOS (Copy to RAM)" --class arch --class gnu-linux --class gnu --class os --id 'carbonos-ram' {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% copytoram=y
    initrd /%INSTALL_DIR%/boot/intel-ucode.img /%INSTALL_DIR%/boot/amd-ucode.img /%INSTALL_DIR%/boot/x86_64/initramfs-linux.img
}

menuentry "Boot CarbonOS (Nomodeset / Safe Graphics)" --class arch --class gnu-linux --class gnu --class os --id 'carbonos-safe' {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% nomodeset
    initrd /%INSTALL_DIR%/boot/intel-ucode.img /%INSTALL_DIR%/boot/amd-ucode.img /%INSTALL_DIR%/boot/x86_64/initramfs-linux.img
}

menuentry "Reboot System" --class reboot {
    reboot
}

menuentry "Power Off" --class shutdown {
    halt
}
