# CarbonOS Syslinux BIOS Bootloader Configuration
DEFAULT carbonos
TIMEOUT 150
PROMPT 0

UI vesamenu.c32
MENU TITLE CarbonOS (IBM Carbon Edition)
MENU COLOR border       30;44   #400f62fe #00000000 std
MENU COLOR title        1;36;44 #ffffffff #00000000 std
MENU COLOR sel          7;37;40 #ffffffff #ff0f62fe std
MENU COLOR unsel        37;44   #ffcccccc #00000000 std
MENU COLOR help         37;40   #ff888888 #00000000 none
MENU COLOR timeout_msg  37;40   #ff888888 #00000000 none
MENU COLOR timeout      1;37;40 #ffffffff #00000000 none

LABEL carbonos
MENU LABEL Boot CarbonOS Live (IBM Carbon Edition, x86_64 BIOS)
LINUX /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/intel-ucode.img,/%INSTALL_DIR%/boot/amd-ucode.img,/%INSTALL_DIR%/boot/x86_64/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% cow_spacesize=4G

LABEL carbonosram
MENU LABEL Boot CarbonOS (Copy to RAM)
LINUX /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/intel-ucode.img,/%INSTALL_DIR%/boot/amd-ucode.img,/%INSTALL_DIR%/boot/x86_64/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% copytoram=y

LABEL reboot
MENU LABEL Reboot System
COM32 reboot.c32

LABEL poweroff
MENU LABEL Power Off
COM32 poweroff.c32
